<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Noob - A New Retail Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="A featured website for unique shopping." name="description" />
        <meta content="Noob" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

        <!--chartist Chart CSS -->
        <link href="{{ url_for('static', filename='libs/chartist/chartist.min.css') }}" rel="stylesheet" type="text/css"/>
        <!-- Icons css -->
        <link href="{{ url_for('static', filename='libs/@mdi/font/css/materialdesignicons.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='libs/dripicons/webfont/webfont.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='libs/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet" type="text/css"/>

        <!-- App css -->
        <!-- build:css -->
        <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet" type="text/css"/>
        <!-- endbuild -->

    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">

           <!-- Navigation Bar-->
            <header id="topnav">
                <nav class="navbar-custom">
					<ul class="list-unstyled topbar-right-menu float-right mb-0">
					    <li class="dropdown notification-list">
                            <a href="javascript:void(0);" class="nav-link right-bar-toggle">
                                <i class="dripicons-cloud noti-icon"> 新零售网站</i>
                            </a>
                        </li>
					</ul>
                    <ul class="list-unstyled menu-left mb-0">
                        <li class="float-left">
                            <a href="login" class="logo">
                                <span class="logo-lg">
                                    <img src="static/img/logo_sm.png" alt="" height="28">
                                </span>
                            </a>
                        </li>
						<li class="float-left">
                            <a class="button-menu-mobile open-left navbar-toggle">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                        </li>
                        <li class="app-search">
                            <form>
                                <input type="text" placeholder="" class="form-control" onfocus=this.blur()>
                                <button type="submit" class="sr-only"></button>
                            </form>
                        </li>
					</ul>
                </nav>
                <!-- end navbar-custom -->
            </header>
            <!-- End Navigation Bar-->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left-side-menu">
                <div class="slimscroll-menu">
                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul class="metismenu" id="side-menu">
                            <li class="menu-title">Navigation</li>
                            <li>
                                <a href="login">
                                    <i class="mdi mdi-view-dashboard"></i> <span> Index </span>
                                </a>
                            </li>
                            <li>
                                <a href="video">
                                    <i class="mdi mdi-calendar"></i> <span> customer </span>
                                </a>
                            </li>
                            <li>
                                <a href="chart-chartist">
                                    <i class="mdi mdi-chart-donut-variant"></i> <span> static </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Left Sidebar End -->


            <!-- Page Content Start -->
            <div class="content-page">
                <div class="content">
                    <div class="container-fluid">

                        <!-- Page title box -->
                        <div class="page-title-box">
                            <h4 class="page-title">Chart</h4>
                        </div>
                        <!-- End page title box -->

                        <!-- end row -->
        
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0">分类商品销售统计</h4>

                                    <div class="mt-4">
                                        <div id="pie-chart" class="ct-chart ct-golden-section"></div>
                                    </div>
                                </div> <!-- end card-box-->
                            </div> <!-- end col -->
        
                            <div class="col-lg-6">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0">月度销售统计</h4>
        
                                    <div class="mt-4">
                                        <div id="line-chart-tooltips" class="ct-chart ct-golden-section"></div>
                                    </div>
                                </div> <!-- end card-box-->
                            </div> <!-- end col -->
        
                        </div>
                        <!-- end row -->
        
        
                        <div class="row">
        
                            <div class="col-lg-6">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0">近5年销售统计</h4>

                                    <div class="mt-4">
                                        <div id="distributed-series" class="ct-chart ct-golden-section"></div>
                                    </div>
                                </div> <!-- end card-box-->
                            </div> <!-- end col -->
        
                            <div class="col-lg-6">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0">季度销售统计</h4>
        
                                    <div class="mt-4">
                                        <div id="stacked-bar-chart" class="ct-chart ct-golden-section"></div>
                                    </div>
                                </div> <!-- end card-box-->
                            </div> <!-- end col -->
        
                        </div>
                        <!-- end row -->


                    </div> <!-- end container-fluid-->
                </div> <!-- end contant-->
            </div>
            <!-- End Page Content-->


            <!-- Footer -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-center">
                            2018 © Noob. - NoobManage.com
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
        </div>
        <!-- End #wrapper -->

        <!-- jQuery  -->
        <script src="{{ url_for('static',filename='libs/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static',filename='libs/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ url_for('static',filename='libs/metismenu/metisMenu.min.js') }}"></script>

        <!--Chartist Chart-->
        <script src="{{ url_for('static',filename='libs/chartist/chartist.min.js') }}"></script>
        <script src="{{ url_for('static',filename='libs/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery.chartist.js') }}"></script>
        <!-- App js -->
        <script src="{{ url_for('static',filename='js/jquery.core.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery.app.js') }}"></script>
    </body>
</html>