<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Noob - A New Retail Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="A featured website for unique shopping." name="description" />
        <meta content="Noob" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

        <!-- jvectormap -->
        <link href="{{ url_for('static', filename='libs/jqvmap/jqvmap.min.css') }}" rel="stylesheet" />
        <!-- Plugins css -->
        <link href="{{ url_for('static', filename='libs/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet" />
        <!-- DataTables -->
        <link href="{{ url_for('static', filename='libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') }}" rel="stylesheet" type="text/css"/>

        <!-- Icons css -->
        <link href="{{ url_for('static', filename='libs/@mdi/font/css/materialdesignicons.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='libs/dripicons/webfont/webfont.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='libs/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet" type="text/css"/>

        <!-- App css -->
        <!-- build:css -->
        <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet" type="text/css"/>
        <!-- endbuild -->
    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">
            <!-- Navigation Bar-->
            <header id="topnav">
                <nav class="navbar-custom">
					<ul class="list-unstyled topbar-right-menu float-right mb-0">
					    <li class="dropdown notification-list">
                            <a href="javascript:void(0);" class="nav-link right-bar-toggle">
                                <i class="dripicons-cloud noti-icon"> 新零售网站</i>
                            </a>
                        </li>
					</ul>
                    <ul class="list-unstyled menu-left mb-0">
                        <li class="float-left">
                            <a href="login" class="logo">
                                <span class="logo-lg">
                                    <img src="static/img/logo_sm.png" alt="" height="28">
                                </span>
                            </a>
                        </li>
						<li class="float-left">
                            <a class="button-menu-mobile open-left navbar-toggle">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                        </li>
                        <li class="app-search">
                            <form>
                                <input type="text" placeholder="" class="form-control" onfocus=this.blur()>
                                <button type="submit" class="sr-only"></button>
                            </form>
                        </li>
					</ul>
                </nav>
                <!-- end navbar-custom -->
            </header>
            <!-- End Navigation Bar-->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left-side-menu">
                <div class="slimscroll-menu">
                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul class="metismenu" id="side-menu">
                            <li class="menu-title">Navigation</li>
                            <li>
                                <a href="login">
                                    <i class="mdi mdi-view-dashboard"></i> <span> Index </span>
                                </a>
                            </li>
                            <li>
                                <a href="video">
                                    <i class="mdi mdi-calendar"></i> <span> customer </span>
                                </a>
                            </li>
                            <li>
                                <a href="chart-chartist">
                                    <i class="mdi mdi-chart-donut-variant"></i> <span> static </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Left Sidebar End -->

            <!-- Page Content Start -->
            <div class="content-page">
                <div class="content">
                    <div class="container-fluid">
                        <!-- Page title box -->
                        <div class="page-title-box">
                            <h4 class="page-title">Customer</h4>
                        </div>
                        <!-- End page title box -->
                        <div class="row">
                            <div class="col-xl-3">
                                <div class="card-box">
                                    <h4 class="header-title">QR code payment</h4>

                                    <div class="mb-3 chartjs-chart dash-doughnut" id="generatecode">
                                    </div>
                                </div> <!-- end card-box -->
								<div class="card-box gradient-danger bx-shadow-lg">
                                    <h4 class="header-title text-white">Total price</h4>
                                    <div class="mb-3 mt-4">
                                        <h2 class="font-weight-light  text-white" id="totalNum">￥0.00</h2>
                                    </div>
                                    <div class="pull-in margin-m-b-20">
										<div class="button-list">
											<button type="button" class="btn btn-success btn-sm" id="settle"
												onclick="NewGetTableData()">Settle</button>
										</div>
                                    </div>
                                </div> <!-- end card-box-->
                            </div> <!-- end col -->

                            <div class="col-xl-6">
                                <div class="card-box">
                                    <h4 class="header-title mb-3">Shopping Information</h4>
                                    <div class="pull-in margin-m-b-20">
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-centered table-hover mb-0" id="datatable">
                                            <thead>
                                            <tr>
                                                <th class="border-top-0">Number</th>
                                                <th class="border-top-0">Good_Id</th>
                                                <th class="border-top-0">Good_Name</th>
                                                <th class="border-top-0">Amount</th>
                                                <th class="border-top-0">UnitPrice</th>
                                                <th class="border-top-0">category</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <span class="ml-2">1</span>
                                                </td>
												 <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="ml-2">2</span>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="ml-2">3</span>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="ml-2">4</span>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="ml-2">5</span>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="ml-2">6</span>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div> <!-- end table-responsive -->

                                </div> <!-- end card-box-->
                            </div> <!-- end col-->

                            <div class="col-xl-3">
                                <div class="card-box gradient-info bx-shadow-lg">
									<h4 class="header-title text-white">Today Date</h4>
									<p class=" text-white" id="todaydate">2019-3-19</p>
									<h4 class="header-title text-white">Purchase UserId</h4>
									<p class=" text-white" id="userid">0</p>
									<h4 class="header-title text-white">Purchase time</h4>
									<p class=" text-white" id="purtime">00-00-00</p>
									<div class="pull-in margin-m-b-20">
										<canvas id="lineChart" height="120"></canvas>
                                    </div>
									<img class="mr-3 bx-shadow-lg" src="static/img/users/time.jpg" alt="Generic placeholder image" height="130">
                                </div> <!-- end card-box-->


                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-xl-8">
                                <div class="card-box">
									<div>
									<div style="float:left">
									<h4 class="header-title mb-4">Individualization</h4>
									</div>
									<div style="float:right">
									<button type="button" class="btn btn-action" id="inquire" onclick="inquireinfo()">
											<i class="mdi mdi-book-open mr-1"></i> <span>inquiry</span> </button>
									</div>
									<select class="selectpicker" id="filter" data-style="btn-light">
										<option data-icon="mdi mdi-disk">Routine recommendation</option>
										<option data-icon="mdi mdi-backup-restore">Seasonal Recommendation</option>
										<option data-icon="mdi mdi-brightness-7">Hot recommendation</option>
										<option data-icon="mdi mdi-account-circle">Personalized recommendation</option>
									</select>
									</div>
                                    <div class="row">
                                         <table class="table mb-0" id="showdata">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Category</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="table-active">
                                            <th scope="row">1</th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="table-success text-success">
                                            <th scope="row">3</th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="table-info text-info">
                                            <th scope="row">5</th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </div> <!-- end row-->
                                </div>  <!-- end card-box-->
                            </div> <!-- end col -->

							<div class="col-xl-4">
                                <div class="card-box">
                                    <h4 class="header-title mb-4">Information</h4>
									<p><i class="mdi mdi-stop-circle-outline text-success"></i> service time: 9:00am-17:30pm</p>
									<h4 class="header-title mb-4">Scan the following QR code and install Wechat applet</h4>
                                    <div class="chartjs-chart datauses-area">
                                        <img src="static/img/NoobMobile_public.jpg" alt="" height="128">
                                    </div>
                                    <a href="video">
									    <button type="button" class="btn btn-danger btn-sm">Next Purchase</button>
                                    </a>
                                </div> <!-- end card-box-->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row -->

                    </div>
                </div>
            </div>
            <!-- End Page Content-->
            <!-- Footer -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-center">
                            2018 © Noob. - NoobManage.com
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
        </div>
        <!-- End #wrapper -->

        <!-- jQuery  -->
        <script src="{{ url_for('static',filename='libs/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static',filename='libs/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ url_for('static',filename='libs/metismenu/metisMenu.min.js') }}"></script>

        <!-- KNOB JS -->
        <script src="{{ url_for('static',filename='libs/jquery-knob/jquery.knob.min.js') }}"></script>
        <!-- Chart JS -->
        <script src="{{ url_for('static',filename='libs/chart.js/Chart.bundle.min.js') }}"></script>
        <!-- Jvector map -->
        <script src="{{ url_for('static',filename='libs/jqvmap/jquery.vmap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='libs/jqvmap/maps/jquery.vmap.usa.js') }}"></script>

        <!-- Datatable js -->
        <script src="{{ url_for('static',filename='libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ url_for('static',filename='libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
        <script src="{{ url_for('static',filename='libs/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
        <script src="{{ url_for('static',filename='libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') }}"></script>

        <!-- Bootstrap Select -->
        <script src="{{ url_for('static',filename='libs/bootstrap-select/js/bootstrap-select.min.js') }}"></script>

        <!-- App js -->
        <script src="{{ url_for('static',filename='js/jquery.core.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery.app.js') }}"></script>
        <script src="{{ url_for('static',filename='js/utf.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery.qrcode.js') }}"></script>
		<script src="{{ url_for('static',filename='js/sendMessage.js') }}"></script>
        <script src="{{ url_for('static',filename='js/event.js') }}"></script>
        <script type="text/javascript">
            setInterval("getGoodsInfo()", 500);
        </script>
        <script>
            $(document).ready(function() {
                // Default Datatable
                $('#datatable').DataTable({
                    "searching": false,
                    "lengthChange": false,
                    "sort":false,
                });
                //初始化获得系统日期
                var date = new Date();
				var seperator1 = "-";
				var month = date.getMonth() + 1;
				var strDate = date.getDate();
				if (month >= 1 && month <= 9) {
					month = "0" + month;
				}
				if (strDate >= 0 && strDate <= 9) {
					strDate = "0" + strDate;
				}
				var currentmonth = date.getFullYear() + seperator1 + month + seperator1 + strDate;
				var obj = document.getElementById("todaydate");
				obj.innerText= currentmonth;
				//初始化生成二维码
				var o = document.getElementById("generatecode");
				var h = o.offsetHeight;
				var w = o.offsetWidth;
				 $("#generatecode").qrcode({
					 render : "canvas",    //设置渲染方式，有table和canvas，使用canvas方式渲染性能相对来说比较好
					 text : "购物总金额:0",    //扫描二维码后显示的内容,可以直接填一个网址，扫描二维码后自动跳向该链接
					 width : w,               //二维码的宽度
					 height : h,              //二维码的高度
					 background : "#ffffff",       //二维码的后景色
					 foreground : "#000000",        //二维码的前景色
				});
               $.ajax({
                    type: 'POST',
                    url: '/get_user',
                    contentType: 'application/json',
                        success: function(data){
                        document.getElementById("userid").innerText=data
                    },
                    error: function(jqXHR){console.log(jqXHR)},
                })
            } );
        </script>
    </body>
</html>