<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>编辑表格数据</title>
		<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="{{ url_for('static',filename='js/add_table.js') }}"></script>
		<script src="{{ url_for('static',filename='js/sendMessage.js') }}"></script>
		<script src="{{ url_for('static',filename='js/inputSelect.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<script language="javascript">
		var tabProduct1 = document.getElementById("tabProduct");
		EditTables(tabProduct1);
		</script>
	</head>

    <body>
		<!--用户注册及基本信息显示-->
		<div class="left_top">
		<img src ="" width="200px" height="100px">
		<input type="button" value="上传" id="btn" onclick="GetTableData()">
		<input type="button" value="注册" id="submit" onclick="onSubmit()">
		<form id="register" name="form1" method="post">
			<label>姓名：</label><input type="text" id="u1" name="username" placeholder="请输入姓名"><br/>
			<label>年龄：</label><input type="text" id="u2" name="userage" placeholder="请输入年龄"><br/>
			<label>电话：</label><input type="text" id="u3" name="usernumber" placeholder="请输入电话"><br/>
		</form>
		</div>
		<!--购买记录模块-->
		<div class="buy_info">
		<h1>购买信息</h1>
		<form id="put_info" name="form2">
		<input type="button" name="Submit" value="新增" onclick="AddRow(document.getElementById('tabProduct'),1)" id="newin">
		<input type="button" name="Submit22" value="重置" onclick="window.location.reload()" id="reload">
		<input type="submit" name="Submit3" value="提交" onclick="save_goods_info" id="upload">
		<label id="info1">购买时间：</label><input type="text" name="time" id="systime" onfocus=this.blur()>
		<label id="info2">用户ID：</label><input type="text" name="user" id="userid" onfocus=this.blur()>
		<table width="698" border="0" cellpadding="0" cellspacing="0" id="tabProduct">
			<tr>
			  <td width="50" bgcolor="#EFEFEF" Name="good_id" EditType="TextBox">商品ID</td>
			  <td width="200" bgcolor="#EFEFEF" Name="good_name" EditType="TextBox">商品</td>
			  <td width="103" bgcolor="#EFEFEF" Name="count" EditType="TextBox">数量</td>
			  <td width="103" bgcolor="#EFEFEF" Name="total_price" EditType="TextBox">单价</td>
			</tr>
		</table>
		</form>
		</div>
		<!--商品信息选择下拉框-->
		<select  id="telUserName"  onchange="putValueToInput()" style="width:180px;height:28px;position: absolute;left: 0px;top: 270px; ">
        </select>
        <input  type="text" name="input"  placeholder="-请选择-" id="input" onblur="inputValue()"
                style="width:158px; height: 22px; position: absolute;left: 0px;top: 270px; "/>
        <div class="top" style="width:180px;border:1px solid #ccc;display:none;position: absolute;left: 0px;top: 298px; " id="DIV">
        </div>
		<!--用户推荐信息模块-->
		<div class="recommend">
		<h2>推荐信息</h2>
		<input type="button" name="GetRecom" value="获得推荐信息" onclick="GetRecom_info()" id="GetRecom_info">
		<form id="rec_info" name="form3" method="post" >
		<textarea name="recom" style="width:300px;height:120px;">这里写内容</textarea>
		</form>
		</div>
</body>
</html>
