<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>编辑表格数据</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static',filename='js/addTable.js') }}"></script>
    <script src="{{ url_for('static',filename='js/sendMessage.js') }}"></script>
    <script src="{{ url_for('static',filename='js/inputSelect.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script language="javascript">
        var tabProduct1 = document.getElementById("tabProduct");
        EditTables(tabProduct1);
    </script>
    <script>
         $(function () {
                $.ajax({
                    type: 'POST',
                    url: '/init',
                    contentType: 'application/json',
                    success: function(data){
                        var arr1=data.split(" ");
                        var obj=document.getElementById("telUserName");
                        var j=1;
                        for(var i=0;i<arr1.length;i++){
                            if(i%3==0)
                            {
                                obj.options[j]=new Option((arr1[i]+":"+arr1[i+1]+":"+arr1[i+2]),"新值");
                                j=j+1;
                            }
                        }
                    },
                    error: function(jqXHR){console.log(jqXHR)},
                })
        });
    </script>
</head>

<body>
<!--用户注册及基本信息显示-->
<div class="left_top">
    <video id="v" style="width: 160px;height: 120px;"></video>
    <canvas style="display:none;width: 160px;height: 120px;" id="canvas"></canvas>
    <button id="start" style="display:block">开启摄像头</button>
    <button id="tp" style="display:block">拍照</button>
    <button id="upload" style="display:block">人脸识别</button>
    <input type="button" value="注册" id="submit" onclick="onSubmit()">
    <label id="msg"></label>
    <form id="register" name="form1" method="post">
			<label>编号：</label><input style="width:250px" type="text" id="u_userid" name="userbioflag" placeholder="用户user_id"><br/>
			<label>姓名：</label><input style="width:250px" type="text" id="u_name" name="username" placeholder="请输入姓名"><br/>
			<label>性别：</label><input style="width:250px" type="text" id="u_sex" name="usersex" placeholder="请输入性别"><br/>
			<label>年龄：</label><input style="width:250px" type="text" id="u_age" name="userage" placeholder="请输入年龄"><br/>
			<label>电话：</label><input style="width:250px" type="text" id="u_number" name="usernumber" placeholder="请输入电话"><br/>
    </form>
    <script>
        var t;
        var videoPlaying = false;
        var take = false;
        let v = document.getElementById('v');
        let canvas = document.getElementById('canvas');
        // {# 开启摄像头方法#}
        document.getElementById("start").addEventListener("click", function () {
            // {#显示摄像头控件，隐藏图片控件#}
            v.style.display = 'block';
            canvas.style.display = 'none';

            // 老的浏览器可能根本没有实现 mediaDevices，所以我们可以先设置一个空的对象
            if (navigator.mediaDevices === undefined) {
                navigator.mediaDevices = {};
            }
            if (navigator.mediaDevices.getUserMedia === undefined) {
                navigator.mediaDevices.getUserMedia = function (constraints) {
                    // 首先，如果有getUserMedia的话，就获得它
                    var getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

                    // 一些浏览器根本没实现它 - 那么就返回一个error到promise的reject来保持一个统一的接口
                    if (!getUserMedia) {
                        return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
                    }

                    // 否则，为老的navigator.getUserMedia方法包裹一个Promise
                    return new Promise(function (resolve, reject) {
                        getUserMedia.call(navigator, constraints, resolve, reject);
                    });
                }
            }
            const constraints = {
                video: true,
                audio: false

            };
            let promise = navigator.mediaDevices.getUserMedia(constraints);
            promise.then(stream => {
                t = stream.getTracks()[0];
                // 旧的浏览器可能没有srcObject
                if ("srcObject" in v) {
                    v.srcObject = stream;
                } else {
                    // 防止再新的浏览器里使用它，应为它已经不再支持了
                    v.src = window.URL.createObjectURL(stream);
                }
                v.onloadedmetadata = function (e) {
                    v.play();
                    videoPlaying = true;
                };
            }).catch(err => {
                console.error(err.name + ": " + err.message);
            });

            // {#document.getElementById("stop").addEventListener("click", function () {#}
            // {#mediaStreamTrack && mediaStreamTrack.stop();#}
            // {#MediaStream.getTracks()[1] && MediaStream.getTracks()[1].remove();#}
            // {#    t.stop();#}
            // {#	隐藏vedio空间"v"#}
            // {##}
            // {##}
            // {# });#}


            $('#upload').click(function () {
                if (take) {
                    let data = canvas.toDataURL('image/png');
                    let flag = 0;

                    $.ajax({
                        url: '/upload',
                        cache: false,
                        type: 'post',
                        data: {
                            'data_url': data,
                        },
                        dataType: 'text',
                        success: function (data) {
                            getNowFormatDate();
                            document.getElementById("detectinfo").value=data;
                            var arr=data.split("\n");
                            // length=7,检测到已注册用户
                            if (arr.length==7)
                            {
                                alert("已注册用户");
                                var arr_id=arr[2].split(":");
                                var arr_name=arr[3].split(":");
                                var arr_gender=arr[4].split(":");
                                var arr_age=arr[5].split(":");
                                var arr_number=arr[6].split(":");
                                document.getElementById("u_userid").value=arr_id[1];
                                document.getElementById("userid").value=arr_id[1];
                                document.getElementById("u_name").value=arr_name[1];
                                document.getElementById("u_sex").value=arr_gender[1];
                                document.getElementById("u_age").value=arr_age[1];
                                document.getElementById("u_number").value=arr_number[1];
                            }
                            else
                            {
                                // length=4,新用户仅返回用户id
                                if(arr.length==4)
                                {
                                    alert("新用户");
                                     document.getElementById("userid").value=arr_id[1];
                                }
                                // length=1,人脸检测失败！ 请检查网络连接和照片是否包含人脸。
                                else
                                {
                                    if(arr.length==1)
                                    {
                                        alert("人脸检测失败!");
                                        document.getElementById("u_userid").value="";
                                        document.getElementById("userid").value="";
                                        document.getElementById("u_name").value="";
                                        document.getElementById("u_sex").value="";
                                        document.getElementById("u_age").value="";
                                        document.getElementById("u_number").value="";
                                    }
                                }
                            }
                        },
                        error: function (e) {
                        }
                    });
                }
            });
        });

        // {#调用摄像头同时设置拍照按钮方法#}
        document.getElementById('tp').addEventListener('click', function () {
            if (videoPlaying) {
                canvas.width = v.videoWidth;
                canvas.height = v.videoHeight;
                canvas.getContext('2d').drawImage(v, 0, 0);
                let data = canvas.toDataURL('image/webp');
                // {#document.getElementById('photo').setAttribute('src', data);#}

                // {#                显示图片控件，隐藏摄像头控件#}
                t.stop();
                videoPlaying = false;
                v.style.display = 'none';
                canvas.style.display = 'block';
                take = true;

            } else {
                alert("请打开摄像头");
            }
        }, false);

    </script>
</div>
<!--购买记录模块-->
<div class="buy_info">
    <h1>购买信息</h1>
    <form id="put_info" name="form2">
        <input type="button" name="Submit" value="新增" onclick="AddRow(document.getElementById('tabProduct'),1)"
               id="newin">
        <input type="button" name="Submit22" value="清空购物信息" onclick="deleteRow()" id="reload">
        <input type="button" name="Submit3" value="提交" onclick="GetTableData()" id="upload1">
        <label id="info1">时间：</label><input type="text" name="time" id="systime" onfocus=this.blur()>
        <label id="info2">ID：</label><input type="text" name="user" id="userid" onfocus=this.blur()>
        <table width="698" border="0" cellpadding="0" cellspacing="0" id="tabProduct" style="overflow: scroll;">
            <tr>
                <td width="50" bgcolor="#EFEFEF" Name="good_id" EditType="TextBox">商品ID</td>
                <td width="200" bgcolor="#EFEFEF" Name="good_name" EditType="TextBox">商品</td>
                <td width="103" bgcolor="#EFEFEF" Name="count" EditType="TextBox">数量</td>
                <td width="103" bgcolor="#EFEFEF" Name="total_price" EditType="TextBox">单价</td>
            </tr>
        </table>
    </form>
</div>
    <!--商品信息选择下拉框-->
    <select  id="telUserName"  onchange="putValueToInput()" style="width:280px;height:28px;position: absolute;left: 208px;top: 270px; ">
    </select>
    <input  type="text" name="input"  placeholder="-请选择-" id="input" onblur="inputValue()"
            style="width:258px; height: 22px; position: absolute;left: 208px;top: 270px; "/>
    <div class="top" style="width:280px;border:1px solid #ccc;display:none;position: absolute;left: 208px;top: 298px; " id="DIV">
</div>
<!--用户推荐信息模块-->
<div class="recommend">
    <h2>推荐信息</h2>
    <input type="button" name="GetRecom" value="获得推荐信息" onclick="GetRecom_info()" id="GetRecom_info">
    <form id="rec_info" name="form3" method="post">
        <textarea name="recom" style="width:300px;height:120px;">这里写内容</textarea>
    </form>
        <label style="position: absolute;left: 600px;top: -430px;">提示信息</label>
        <textarea id="detectinfo" name="hint" style="position: absolute;left: 600px;top: -575px;width:300px;height:120px;"></textarea>
</div>
<input type="button" name="flush" value="刷新" onclick="window.location.reload()" id="flush_info">
</body>
</html>
