<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>新零售便利店</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static',filename='js/addTable.js') }}"></script>
    <script src="{{ url_for('static',filename='js/sendMessage.js') }}"></script>
    <script src="{{ url_for('static',filename='js/inputSelect.js') }}"></script>
	<link rel='stylesheet' href="{{ url_for('static', filename='css/calendar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- BOOTSTRAP STYLES-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <!-- FONTAWESOME STYLES-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <!--CUSTOM BASIC STYLES-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
    <!--CUSTOM MAIN STYLES-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script>
        var tabProduct1 = document.getElementById("tabProduct");
        EditTables(tabProduct1);
    </script>
	<script>
	$(function(){
                $.ajax({
                    type: 'POST',
                    url: '/init',
                    contentType: 'application/json',
                    success: function(data){
                        var arr1=data.split(" ");
                        var obj=document.getElementById("typenum");
                        var j=1;
                        for(var i=0;i<arr1.length;i++){
                            if(i%3==0)
                            {
                                obj.options[j]=new Option((arr1[i]+":"+arr1[i+1]+":"+arr1[i+2]),"新值");
                                j=j+1;
                            }
                        }
                        document.getElementById("typenum")[0].selected=true;
                        bodyevent("#typenum","#makeupCo","#search-button");
                    },
                    error: function(jqXHR){console.log(jqXHR)},
                })
	})
	</script>
</head>

	<body>
	<div class="userlogin">
		<div class="photo">
		    <video id="v"></video>
			<canvas id="canvas"></canvas>
			<button type="button" class="btn btn-lg btn-default" id="start">开启摄像</button>
			<button type="button" class="btn btn-lg btn-primary" id="tp">拍照</button>
			<button type="button" class="btn btn-lg btn-success" id="upload">人脸识别</button>
			<script src="{{ url_for('static',filename='js/photo.js') }}"></script>
		</div>
		<div class="basicinfo">
			<div class="tips">
				<textarea id="detectinfo" name="hint" onfocus=this.blur()></textarea>
				<label id="message1">提示</label>
			</div>
			<div class="login">
				<form id="register" name="form1" method="st">
						<input type="text"id="point1"onfocus=this.blur() value="编号:">
						<input type="text" class="rege" id="u_userid" name="userbioflag" placeholder="用户user_id" onfocus=this.blur()><br/>
						<input type="text"id="point2"onfocus=this.blur() value="姓名:">
						<input type="text" class="rege" id="u_name"   name="username" placeholder="请输入姓名"><br/>
						<input type="text"id="point3"onfocus=this.blur() value="性别:">
						<input type="text" class="rege" id="u_sex"    name="usersex" placeholder="请输入性别"><br/>
						<input type="text"id="point4"onfocus=this.blur() value="年龄:">
						<input type="text" class="rege" id="u_age"    name="userage" placeholder="请输入年龄"><br/>
						<input type="text"id="point5"onfocus=this.blur() value="电话:">
						<input type="text" class="rege" id="u_number" name="usernumber" placeholder="请输入电话"><br/>
				</form>
				<button class="btn btn-primary "id="submit" onclick="onSubmit()">确认</button>
			</div>
		</div>
	</div>
	<div class="purchaseinfo">
		<div class="selectgoods">
		<div class="div">
			<input type="text" name="makeupCo" id="makeupCo" class="makeinp" onfocus='setfocus(this,"#typenum","#makeupCo","#search-button")'
				   oninput='setinput(this,"#typenum");' placeholder="请选择商品"/>
			<div id="search-button" onclick='setfocus(document.getElementById("makeupCo"),"#typenum","#makeupCo","#search-button")'><span class="search-img"></span></div>
			<select name="makeupCoSe" id="typenum" onchange='changeF(this,"#typenum","makeupCo","#search-button")' size="10" style="display:none">
				<option></option>
			</select>
		</div>
		</div>
		<div class="updategoods">
			<div class="buyinfo">
				<form id="put_info" name="form2">
					<button type="button" class="btn btn-lg btn-success" onclick="AddRow(document.getElementById('tabProduct'),1)"
						   id="add">添加</button>
					<button type="button" class="btn btn-lg btn-info" id="clear" onclick="deleteRow()">清除</button>
					<button type="button" class="btn btn-lg btn-default"id="save" onclick="GetTableData()">保存</button>
					<label id="info1">时间：</label><input type="text" name="time" id="systime" onfocus=this.blur()>
					<label id="info2">ID：</label><input type="text" name="user" id="userid" onfocus=this.blur()>
					<table width="100%" height="90%" border="0" cellpadding="0" cellspacing="0" id="tabProduct">
						<tr>
							<td width="50" bgcolor="#EFEFEF" Name="good_id" EditType="TextBox">商品ID</td>
							<td width="200" bgcolor="#EFEFEF" Name="good_name" EditType="TextBox">商品</td>
							<td width="103" bgcolor="#EFEFEF" Name="count" EditType="TextBox">数量</td>
							<td width="103" bgcolor="#EFEFEF" Name="total_price" EditType="TextBox">单价</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
	<div class="individuation">
		<div class='calendar' id='calendar'>
			<script src="{{ url_for('static',filename='js/showdate.js') }}"></script>
		</div>

		<div class="panel panel-default" style="width:65%;height:99%;float:right;border-style:solid">
			<div class="panel-heading">
				商品信息
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table" id="showdata">
						<thead>
							<tr>
								<th>编号</th>
								<th>商品名称</th>
								<th>价格</th>
								<th>位置</th>
							</tr>
						</thead>
						<tbody>
							<tr class="success">
								<td>1</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr class="info">
								<td>2</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr class="warning">
								<td>3</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr class="danger">
								<td>4</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr class="success">
								<td>5</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<button id="inquire" type="button" class="btn btn-lg btn-success"onclick="inquireinfo()">查询</button>
			<link rel="stylesheet" href="{{ url_for('static', filename='css/selectFilter.css') }}">
			<script src="{{ url_for('static',filename='js/selectFilter.js') }}"></script>
			<div class="item">
				<div class="filter-box">
					<div class="filter-text">
						<input class="filter-title" type="text" readonly placeholder="pleace select" />
						<i class="icon icon-filter-arrow"></i>
					</div>
					<select name="filter" id="filter">
						<option value="unaudited">常规推荐</option>
						<option value="nothrough" selected>季节性商品推荐</option>
						<option value="audit">热点商品推荐</option>
						<option value="audited">个性化推荐</option>
					</select>
				</div>
			<script type="text/javascript">
				$('.filter-box').selectFilter({
					callBack : function (val){
					}
				});
			</script>
			</div>
			<input type="text" name="time" id="kindinfo" onfocus=this.blur()>
			<button id="flush_info" type="button" class="btn btn-danger" onclick="window.location.reload()">结账</button>
		</div>
	</div>
	<div class="leftblank"></div>
	<div class="rightblank"></div>
	</body>
</html>
